---
import "../../styles/global.css";
import AdminLogin from "../../components/pages/admin/login";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <title>Connexion — Admin La Kataleya</title>
    </head>
    <body class="bg-white text-neutral-900">
        <AdminLogin client:load />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
    }
</style>
